@import './base.css';
@import './navigation.css';
@import './login.css';

.status-completed {
    color: #48bb78;
  }
  
  .status-in-progress {
    color: #4299e1;
  }
  
  .status-assigned {
    color: #ed8936;
  }
  
  .status-pending {
    color: #718096;
  }
  
  .status-cancelled {
    color: #e53e3e;
  }
  
  /* Priority styles are now handled by Maintenance.module.css */
  